
<mat-card>

  <mat-card-header>Charakter bearbeiten</mat-card-header>

  <br>

  <mat-card-content>

    <form [formGroup]="form">
      <mat-form-field>
        <input formControlName="name" placeholder="Name" name="name" matInput>
        <mat-error *ngIf="form.get('name').hasError('required') && form.get('name').dirty">
          Pflichtfeld!
        </mat-error>
        <mat-error *ngIf="form.get('name').hasError('maxlength') && form.get('name').dirty">
          Maximal 30 Zeichen erlaubt!
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input formControlName="culture" placeholder="Culture" name="culture" matInput>
      </mat-form-field>

      <mat-form-field>
        <input formControlName="born" placeholder="Geburt" name="born" matInput>
      </mat-form-field>

      <button mat-raised-button
              color="primary"
              (click)="save()">
        Speichern
      </button>

    </form>

  </mat-card-content>

</mat-card>
